.app {
  padding: 28px 20px 33px 20px;
  background-color: $color-blue-2;
  color: $color-white-1;
  text-align: center;
}

.app__platform-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 38px 19px 38px;
}

.app__platform-item {
  background-repeat: no-repeat;

  &--apple {
    width: 47px;
    height: 56px;
    background-image: url("../img/apple-logo.svg");
  }

  &--android {
    width: 43px;
    height: 47px;
    background-image: url("../img/android-logo.svg");
  }

  &--windows {
    margin-top: 6px;
    width: 44px;
    height: 41px;
    background-image: url("../img/microsoft-logo.svg");
  }
}

.app__platform-information {
  font-weight: 300;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .app {
    max-width: 300px;
    background: none;
    z-index: 1;
  }

  .app__platform-list {
    padding: 46px 50px 33px 46px;
  }

  .app__platform-information {
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .app {
    padding: 0;
  }

  .app__platform-list {
    padding-top: 67px;
    padding-bottom: 53px;
  }
}
