.app {
  padding: 28px 20px 33px 20px;
  background-color: $color-blue-2;
  color: $color-white-1;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 340px;
    background: none;
  }

  @media (min-width: $desktop-width) {
    margin-left: 130px;
  }
}

.app__platform-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 38px 19px 38px;
}

.app__platform-item {
  background-repeat: no-repeat;

  &--apple {
    width: 47px;
    height: 56px;
    background-image: url("../img/apple-logo.svg");
  }

  &--android {
    width: 43px;
    height: 47px;
    background-image: url("../img/android-logo.svg");
  }

  &--windows {
    margin-top: 6px;
    width: 44px;
    height: 41px;
    background-image: url("../img/microsoft-logo.svg");
  }
}

.app__platform-information {
  font-weight: 300;
  margin: 0;
}
