.button {
  border: 3px solid $color-white-1;
  border-radius: 29px;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: block;
  color: $color-white-1;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
}

.button--second-type {
  margin: 0 20px;
  text-transform: uppercase;
  padding: 23px;
  background-color: $color-green-2;
  border: 2px solid $color-green-2;
  border-radius: 1px;
  min-width: 276px;
  min-height: 59px;
}

.button--form-send {
  border-color: $color-red-1;
  color: $color-red-1;
}

.button--form-cancel {
  border-color: $color-blue-opacity-10;
  color: $color-blue-opacity-10;
}
