.capabilities {
  position: relative;
  padding: 63px 20px 288px 20px;
  color: $color-blue-1;
  background-color: $color-gray-1;
  background-repeat: no-repeat;
  background-position: 50% 107%;
  text-align: center;

  &::after {
    content: " ";
    z-index: 1;
    display: block;
    position: absolute;
    height: 320px;
    width: 160px;
    bottom: -42px;
    left: 50%;
    background-image: url("../img/iphone-hello-mobile.png");
    background-size: 100%;
    background-repeat: no-repeat;
    transform: translateX(-50%);
  }
}

.capabilities__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.capabilities__name {
  margin-bottom: 12px;
  color: $color-black-1;
  font-weight: bold;
  font-size: 18px;
}

.capabilities__description {
  margin: 12px 0 31px 0;
}

@media (min-resolution: $retina-resolution) {
  .capabilities {
    &::after {
      background-image: url("../img/iphone-hello-mobile-x2.png");
    }
  }
}

@media (min-width: $tablet-width) {
  .capabilities {
    padding-bottom: 1px;
    padding-top: 58px;
    text-align: left;

    &::after {
      height: 547px;
      width: 268px;
      left: calc(50% - 444px);
      bottom: -65px;
      background-image: url("../img/iphone-hello-tablet.png");
      transform: translateX(50%);
    }
  }

  .capabilities__list {
    width: 50%;
    margin-left: auto;
    padding-bottom: 7px;
  }

  .capabilities__description {
    margin-top: 0;
    margin-bottom: 34px;
  }
}

@media (min-width: $tablet-width) and (min-resolution: $retina-resolution) {
  .capabilities {
    &::after {
      background-image: url("../img/iphone-hello-tablet-x2.png");
    }
  }
}

@media (min-width: $desktop-width) {
  .capabilities {
    padding-top: 0;
    padding-right: 10px;
    padding-left: 10px;

    &::after {
      display: none;
    }
  }

  .capabilities__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-left: 0;
    text-align: center;
  }

  .capabilities__item {
    padding-top: 310px;
    max-width: 300px;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 1;

    &:nth-child(1) {
      background-image: url("../img/capability-1.png");
    }

    &:nth-child(2) {
      background-image: url("../img/capability-2.png");
    }

    &:nth-child(3) {
      background-image: url("../img/capability-3.png");
    }
  }

  .capabilities__name {
    margin: 50px 30px 20px 30px;
    font-size: 30px;
    line-height: 30px;
  }

  .capabilities__description {
    margin: 10px 28px 10px 28px;
    font-size: 18px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) and (min-resolution: $retina-resolution) {
  .capabilities__item {
    &:nth-child(1) {
      background-image: url("../img/capability-1-x2.png");
    }

    &:nth-child(2) {
      background-image: url("../img/capability-2-x2.png");
    }

    &:nth-child(3) {
      background-image: url("../img/capability-3-x2.png");
    }
  }
}
