.catalog {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .catalog {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    margin: 0 auto;
    max-width: $desktop-width-only;
    padding-left: 10px;
    padding-right: 10px;
  }
}
