.contacts {
  padding: 17px 20px 24px 20px;
  text-align: center;
  position: relative;

  &::after {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: -35px;
    width: 100%;
    height: 36px;
    background-image: url("../img/white-isosceles-triangle-block.svg");
    background-repeat: no-repeat;
    background-size: 100% 36px;
  }
}

.contacts__header {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-bottom: 13px;

    &::after {
      bottom: -67px;
      height: 68px;
      background-size: 100% 68px;
    }
  }

  .contacts__header {
    padding-left: 120px;
    padding-right: 120px;
    margin-top: 26px;
    margin-bottom: 23px;
    font-size: 40px;
    line-height: 54px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding-left: 130px;
    padding-right: 130px;

    &::after {
      bottom: -105px;
      height: 118px;
      background-size: 100% 118px;
    }
  }

  .contacts__header {
    font-size: 50px;
    line-height: 68px;
  }
}
