.contacts-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.contacts-list__item {
  margin-bottom: 10px;
  margin-top: 10px;
}

.contacts-list__item-name {
  display: block;
  font-weight: bold;
  font-size: 18px;
}

.contacts-list__item-link {
  color: $color-red-1;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $color-blue-1;
    text-decoration: underline;
  }

  &:active {
    color: $color-blue-opacity-30;
    text-decoration: none;
  }
}

@media (min-width: $tablet-width) {
  .contacts-list {
    flex-direction: row;
    justify-content: space-between;
  }

  .contacts-list__item {
    max-width: 45%;

    &:first-child {
      margin-left: 47px;
    }

    &:nth-child(2) {
      margin-right: 29px;
    }

    &:last-child {
      margin-left: auto;
      margin-right: auto;
      margin-top: 31px;
    }
  }

  .contacts-list__item-name {
    margin-bottom: 5px;
  }
}

@media (min-width: $desktop-width) {
  .contacts-list__item {
    max-width: 250px;

    &:nth-child(2) {
      order: 1;
    }

    &:last-child {
      margin-top: 10px;
      margin-left: 16px;
      margin-right: 0;
    }
  }

  .contacts-list__item-name {
    margin-bottom: 21px;
  }
}
