.contacts {
  padding: 17px 20px 24px 20px;
  text-align: center;
  position: relative;

  &::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    bottom: -35px;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 35px solid $color-white-1;
    z-index: 1;

    @media (min-width: $tablet-width) {
      bottom: -66px;
      border-top-width: 67px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 13px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 130px;
    padding-right: 130px;
  }
}

.contacts__header {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 54px;
    padding-left: 120px;
    padding-right: 120px;
    margin-top: 26px;
    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}
