.create-post {
  background-color: $color-gray-1;
  padding-right: $mobile-padding-horizontally;
  padding-left: $mobile-padding-horizontally;
}

@media (min-width: $desktop-width) {
  .create-post {
    background-color: inherit;
  }
}
