.developer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-width: 130px;
  padding-top: 20px;
  color: $color-blue-1;
  line-height: 18px;
}

.developer__hedaer {
  font-weight: normal;
  font-size: 14px;
}

.developer__logo {
  fill: currentColor;
}

.developer__link {
  color: $color-red-1;

  &:hover,
  &:focus {
    color: $color-blue-1;
  }

  &:active {
    color: $color-blue-opacity-30;
  }
}

@media (min-width: $desktop-width) {
  .developer__hedaer {
    margin-right: 13px;
    margin-top: 10px;
    font-size: 18px;
  }
}
