.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.footer__logo {
  &:active .logo__image {
    fill: $color-red-1;
    color: $color-blue-1;
    opacity: 0.3;
  }
}

.footer__logo-images use {
  fill: $color-red-1;
  color: $color-blue-1;
}

@media (min-width: $tablet-width) {
  .footer {
    padding-top: 21px;
    padding-bottom: 24px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    min-width: $tablet-width;
  }

  .footer__logo {
    padding-top: 13px;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    padding-top: 88px;
    padding-left: $desktop-padding-horizontally;
    padding-right: $desktop-padding-horizontally;
    padding-bottom: 59px;
  }
}
