.form {
  padding: 20px;
}

.form__section {
  display: flex;
  flex-direction: column;
  border: none;
}

.form__legend {
  width: 100%;
  text-align: center;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-red-1;
}

.form__text-label {
  color: $color-red-1;
  text-transform: uppercase;
  padding: 29px 23px 17px 23px;
}

.form__input-text {
  padding: 0 20px;
  min-height: 59px;
  border: 2px solid $color-gray-2;
  border-radius: 1px;
  font-size: 18px;
  line-height: 30px;
}

.form__textarea {
  height: 153px;
  padding: 22px 20px;
  border: 2px solid $color-gray-2;
  border-radius: 1px;
}
