.form {
  display: flex;
  flex-direction: column;
}

.form__block-item {
  padding-left: $mobile-padding-horizontally;
  padding-right: $mobile-padding-horizontally;

  &:nth-child(2n) {
    background-color: $color-gray-1;
  }
}

.form__section {
  display: flex;
  flex-direction: column;
  position: relative;
  border: none;
  width: 100%;
  box-sizing: border-box;
  margin: 24px 0;
  padding: 0;

  &--secondary {
    margin-top: 38px;
    margin-bottom: 36px;
  }

  &--no-legend {
    padding-top: 11px;

    .form__legend {
      display: none;
    }
  }
}

.form__section-item {
  margin-bottom: 20px;
}

.form__legend {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-red-1;
}

.form__text-label {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 23px;
  padding-right: 23px;
  color: $color-red-1;
  text-transform: uppercase;
}

.form__input-text {
  font-family: $main-font-family;
  padding: 0 20px;
  min-height: 59px;
  min-width: 236px;
  max-width: 236px;
  margin-top: 8px;
  border: 2px solid $color-gray-2;
  border-radius: 1px;
  font-size: 18px;
  line-height: 30px;
  color: $color-blue-1;

  &:hover {
    border-color: $color-blue-1;
  }

  &:focus {
    outline-color: $color-red-1;
  }
}

.form__checkbox-label {
  position: relative;
  padding-left: 58px;
  padding-top: 40px;
  padding-bottom: 12px;
  font-size: 18px;
  line-height: 30px;
  color: $color-blue-1;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 35px;
    height: 35px;
    background: $color-white-1;
    border: 2px solid $color-gray-2;
    border-radius: 1px;
    top: calc(50% + 15px);
    transform: translateY(-50%);
  }

  &:hover::before {
    border-color: $color-blue-1;
  }

  &:active::before {
    border-color: $color-red-1;
  }
}

.form__checkbox:checked + label::before {
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__radio-label {
  position: relative;
  padding-left: 70px;
  padding-top: 40px;
  padding-bottom: 11px;
  font-size: 18px;
  color: $color-blue-1;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 37px;
    height: 37px;
    background: $color-white-1;
    border: 2px solid $color-gray-2;
    border-radius: 50%;
    top: calc(50% + 16px);
    transform: translateY(-50%);
  }

  &:hover::before {
    border-color: $color-blue-1;
  }

  &:active::before {
    border-color: $color-red-1;
  }
}

.form__radio:checked + label::after {
  content: "";
  position: absolute;
  left: 13px;
  width: 15px;
  height: 15px;
  background: $color-red-1;
  border-radius: 50%;
  top: calc(50% + 16px);
  transform: translateY(-50%);
}

.form__textarea {
  height: 162px;
  padding: 22px 20px;
  margin-top: 18px;
  margin-bottom: 12px;
  padding-top: 14px;
  border: 2px solid $color-gray-2;
  border-radius: 1px;
  color: $color-blue-1;
  font-size: 18px;
  line-height: 30px;
  font-family: $main-font-family;

  &:hover {
    border-color: $color-blue-1;
  }

  &:focus {
    outline-color: $color-red-1;
  }
}

.form__required-insrtuction {
  display: inline-block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding-top: 38px;
  padding-bottom: 19px;

  &--mark {
    display: inline;
    color: $color-red-1;
  }

  &--addition-text {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .form {
    >:nth-child(1),
    >:nth-child(4) {
      order: -3;
    }

    >:nth-child(3) {
      order: -2;
      display: flex;
      flex-wrap: wrap;

      input,
      label {
        max-width: 100%;
      }
    }

    >:nth-child(2),
    >:nth-child(5) {
      order: -1;
    }

    >.form__section:not(:first-child) {
      background-color: inherit;
      border: 2px solid $color-gray-2;
      border-radius: 1px;

      legend {
        max-width: max-content;
        margin: 0 auto;
      }
    }
  }

  .form__block-item {
    &:not(:first-child) {
      .form__section {
        border: 2px solid #e5e5e5;
        margin-top: 6px;
        padding: 10px 60px 52px 60px;
      }
    }

    &:nth-child(2) {
      .form__section {
        margin-top: 35px;
        padding-bottom: 38px;
      }
    }

    &:nth-child(5) {
      .form__section {
        margin-top: 22px;
        padding-top: 19px;
        padding-bottom: 39px;
        margin-bottom: 56px;
      }
    }

    &:nth-child(3) {
      .form__section {
        margin-top: 22px;
        padding-bottom: 24px;
      }

      label {
        margin-top: 12px;
        margin-left: 50px;
      }
    }
    &:nth-child(2n) {
      background-color: $color-white-1;
    }
  }

  .form__section {
    box-sizing: border-box;
    margin-top: 45px;

    &:first-child {
      border: none;
    }

    &--no-legend {
      .form__legend {
        display: block;
      }
    }
  }

  .form__section-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 26px;
    margin-bottom: 26px;

    &--phone,
    &--email {
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 6px;

      &::after {
        content: "";
        position: absolute;
        top: 2px;
        right: 2px;
        width: 60px;
        height: 56px;
        background-color: $color-gray-2;
        background-repeat: no-repeat;
        background-position: center;
      }

      .form__text-label {
        margin-left: 64px;
        margin-top: 20px;
        min-width: 100%;
      }
    }

    &--phone {
      &::after {
        background-image: url("../img/phone-icon.svg");
        height: 60px;
        right: 0;
      }
    }

    &--email {
      &::after {
        background-image: url("../img/mail-icon.svg");
        height: 60px;
        right: 0;
      }
    }
  }

  .form__input-text {
    width: 100%;
    max-width: 100%;
    min-height: 64px;
    margin-top: 0;
    box-sizing: border-box;
  }

  .form__text-label {
    padding-left: 0;
    padding-right: 18px;
  }

  .form__send-block {
    display: flex;
    align-items: center;
  }

  .form__radio-label {
    padding-left: 59px;
  }

  .form__textarea {
    height: 153px;
  }

  .form__required-insrtuction {
    text-align: right;
    padding-right: 19px;
    padding-top: 27px;

    &--mark {
      padding-right: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 56px;

    >:nth-child(1),
    >:nth-child(4) {
      width: 46%;
    }

    >:nth-child(3) {
      order: -2;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      input,
      label {
        width: 44%;
      }

      input {
        order: -1;
      }
    }

    >:nth-child(2) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 54px 61px 57px 62px;
    }
  }

  .form__section {
    padding: 0;

    &:first-child {
      margin-top: 2px;
    }
  }

  .form__block-item {
    padding: 0;

    &:nth-child(2) {
      width: 100%;
      padding: 0;

      .form__section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 49px;
        padding-top: 5px;
        padding-right: 62px;
      }

      .form__legend {
        width: max-content;
        padding-left: 30px;
        padding-right: 30px;
      }

      .form__checkbox-label:nth-of-type(2n) {
        order: 1;
      }

      .form__checkbox-label:nth-of-type(4) {
        margin-left: 34px;
      }
    }

    .form__checkbox-label {
      width: max-content;
    }

    &:nth-child(3) {
      width: 100%;

      .form__section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 6px;
        padding-bottom: 8px;
      }

      .form__section-item {
        flex-direction: column;
        width: 46%;
      }

      .form__input-text {
        width: 100%;
      }

      .form__legend {
        width: max-content;
        padding-left: 30px;
        padding-right: 30px;
      }
    }

    &:nth-child(4) {
      .form__section {
        padding-left: 0px;
        padding-right: 5px;
        margin-top: 16px;
      }
    }

    &:nth-child(5) {
      width: 100%;

      .form__section {
        padding-top: 15px;
        padding-bottom: 31px;
      }

      .form__legend {
        width: max-content;
        padding-left: 40px;
        padding-right: 40px;
      }
    }

    .form__radio-label {
      margin-left: 70px;
    }
  }

  .form__send-block {
    width: 100%;
  }

  .form__required-insrtuction {
    text-align: right;
    padding-right: 0;

    &--addition-text {
      display: inline;
    }
  }

  .form__textarea {
    height: 88px;
  }
}
