.header {
  z-index: 1;
  padding-top: 23px;
  box-sizing: border-box;
  min-height: 66px;
  color: $color-white-1;
  background-color: $color-blue-1;
}

.header__logo-wrapper {
  margin-left: 20px;
  height: 23px;
}

.header__logo {
  position: relative;
  display: block;
  overflow: hidden;
}

.header__logo-images {
  position: absolute;
  left: -71px;
  top: -17px;
}

.header--nav-closed {
  background-color: $color-black-opacity-30;
}

@media (min-width: $tablet-width) {
  .header {
    min-height: 110px;
    padding-top: 28px;
  }

  .header__logo,
  .header__logo-images {
    position: static;
  }
}

@media (min-width: $desktop-width) {
  .header {
    min-height: 110px;
    padding-left: 130px;
    padding-right: 130px;
    display: flex;
    justify-content: space-between;
  }

  .header__logo-wrapper {
    margin-left: 0;
  }
}
