.header {
  min-height: 66px;
  color: $color-white-1;
  background-color: $color-blue-1;
  z-index: 1;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    min-height: 110px;
    padding-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    min-height: 110px;
    padding-bottom: 43px;
    padding-left: 130px;
    padding-right: 130px;
    display: flex;
  }
}

.header--nav-closed{
  background-color: $color-black-opacity-30;
}
