.header {
  min-height: 66px;
  color: $color-white-1;
  background-color: $color-black-opacity-30;
  z-index: 1;
}

.main-nav__list {
  list-style: none;
  font-weight: bold;
  line-height: 32px;
  font-size: 18px;
  align-items: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
}

.main-nav__item {
  min-height: 63px;
  padding: 25px 20px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  box-shadow: 0 1px 0 $color-black-1, inset 0 1px 0 $color-white-opacity-15;
}

.main-nav__link {
  color: $color-white-1;
  text-decoration: none;
}
