.intro {
  position: relative;
  min-height: 732px;
  text-align: center;
  font-weight: normal;
  color: $color-white-1;
  background-image: url("../img/intro-back-mobile.jpg");
  background-position: center top;
  background-size: 100%;
  background-color: $color-blue-2;
  background-repeat: no-repeat;
  border-top: 1px solid $color-black-opacity-30;

  &--phone {
    &::before {
      content: " ";
      background-image: url("../img/phone-hand-mobile.png");
      background-size: 100%;
      background-repeat: no-repeat;
      height: 286px;
      width: 100%;
      max-width: $mobile-width;
      display: block;
      top: 175px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &--catalog,
  &--form,
  &--competition {
    min-height: 236px;
  }
}

.intro__slogan {
  margin-top: 88px;
  padding: 0 20px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.intro__header,
.intro__competition-header {
  margin-top: 92px;
  margin-bottom: 50px;
  padding: 0 20px;
  font-size: 24px;
  font-weight: 300;
  line-height: 33px;
}

.intro__competition-header {
  margin-bottom: 45px;
}

.intro__text {
  padding: 54px 20px;
  background-color: $color-white-1;
  color: $color-blue-1;
  line-height: 30px;
}

.intro__name {
  margin-top: 92px;
  padding: 0 20px;
  font-size: 24px;
  font-weight: 300;
  line-height: 33px;
}

@media (min-resolution: $retina-resolution) {
  .intro {
    background-image: url("../img/intro-back-mobile-x2.jpg");

    &--phone {
      &::before {
        background-image: url("../img/phone-hand-mobile-x2.png");
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .intro {
    background-image: url("../img/intro-back-tablet.jpg");
    justify-content: center;
    min-height: 727px;

    &--phone {
      &::before {
        background-image: url("../img/phone-hand-tablet.png");
        height: 545px;
        width: 100%;
        max-width: $tablet-width;
        bottom: 0;
        top: auto;
      }
    }

    &--catalog,
    &--competition {
      min-height: 438px;
    }
  }

  .intro__slogan {
    max-width: 300px;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 0;
    margin-top: 122px;
  }

  .intro__name {
    font-size: 50px;
    line-height: 68px;
    margin-top: 175px;
  }

  .intro__competition-header {
    font-size: 50px;
    line-height: 68px;
    margin-top: 176px;
  }
}

@media (min-width: $tablet-width) and (min-resolution: $retina-resolution) {
  .intro {
    background-image: url("../img/intro-back-tablet-x2.jpg");

    &--phone {
      &::before {
        background-image: url("../img/phone-hand-tablet-x2.png");
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .intro {
    justify-content: space-between;
    box-sizing: border-box;
    padding: 207px 10px 124px 10px;
    min-height: 235px;
    background-image: url("../img/intro-back-desktop.jpg");
    background-size: cover;
    overflow: hidden;

    &--phone {
      &::before {
        background-image: url("../img/phone-hand-desktop.png");
        background-position: center top;
        max-width: 960px;
        height: 100%;
        bottom: auto;
        background-size: auto;
        left: 56%;
      }
    }

    &--catalog {
      padding-top: 140px;
      padding-bottom: 50px;
      min-height: 393px;
    }

    &--competition {
      padding-top: 140px;
      padding-bottom: 50px;
      min-height: 394px;
    }
  }

  .intro__slogan {
    padding: 0;
    margin-top: 0;
    margin-bottom: 36px;
    margin-left: 0;
    margin-right: 0;
    font-size: 50px;
    line-height: 68px;
  }

  .intro__name {
    margin: 28px auto auto auto;
    max-width: min-content;
  }

  .intro__competition-header {
    margin-bottom: 20px;
    margin-top: 27px;
  }
}

@media (min-width: $desktop-width) and (min-resolution: $retina-resolution) {
  .intro {
    background-image: url("../img/intro-back-desktop-x2.jpg");

    &--phone {
      &::before {
        background-image: url("../img/phone-hand-desktop-x2.png");
        background-size: 100%;
        left: 50%;
      }
    }
  }
}
