.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 732px;
  margin-top: -66px;
  text-align: center;
  font-weight: normal;
  color: $color-white-1;
  background-image: url("../img/intro-back-mobile.jpg");
  background-position: center top;
  background-size: 100%;
  background-color: $color-blue-2;
  background-repeat: no-repeat;
  border-top: 1px solid $color-black-opacity-30;

  @media (min-width: $tablet-width) {
    background-image: url("../img/intro-back-tablet.jpg");
    margin-top: -109px;
    justify-content: center;
    min-height: 727px;
  }

  &--phone {

    &::before {
      content: " ";
      background-image: url("../img/phone-hand-mobile.png");
      background-repeat: no-repeat;
      height: 286px;
      width: 320px;
      display: block;
      top: 175px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      @media (min-width: $tablet-width) {
        background-image: url("../img/phone-hand-tablet.png");
        height: 545px;
        width: 660px;
        bottom: 0;
        top: auto;
      }
    }
  }
}

.intro__slogan {
  margin-top: 88px;
  padding: 0 20px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;

  @media (min-width: $tablet-width) {
    max-width: 300px;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 0;
    margin-top: 122px;
  }

  @media (min-width: $desktop-width) {
    max-width: 340px;
    font-size: 50px;
    line-height: 68px;
    margin-left: 130px;
  }
}

.intro__header {
  margin-top: 92px;
  margin-bottom: 50px;
  padding: 0 20px;
  font-size: 24px;
  font-weight: 300;
  line-height: 33px;
}

.intro__text {
  padding: 54px 20px;
  background-color: $color-white-1;
  color: $color-blue-1;
  line-height: 30px;
}
