.logo {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
}

.logo__image {
  display: none;
  margin-right: 8px;

  @media (min-width: $tablet-width) {
    display: inline-block;
    margin-left: 20px;
    margin-top: 27px;

    path {
      fill: $color-white-1;
    }
  }
}

.logo__text {
  padding-left: 20px;
  padding-top: 23px;
  min-height: 46px;
  box-sizing: border-box;
  min-width: max-content;

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }
}
