.logo {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
}

.logo__image {
  display: none;
  margin-right: 8px;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.logo__text {
  padding-left: 20px;
  padding-top: 23px;
  min-height: 46px;
  box-sizing: border-box;
  min-width: max-content;
}
