.logo {
  margin-bottom: 20px;
  min-width: 145px;
  justify-content: space-between;
  align-items: center;
}

.logo__image {
  display: none;
  margin-right: 8px;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.logo__text {
  margin-left: 20px;
  margin-top: 23px;
}
