.main-nav {
  width: 100%;

  @media (min-width: $desktop-width) {
    display: block;
    background-color: $color-full-opacity;
  }
}

.main-nav__toggle {
  position: relative;
  margin-right: 20px;
  margin-left: auto;
  margin-top: -32px;
  display: inherit;
  width: 50px;
  height: 24px;
  border: none;
  background-color: transparent;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 23px;
    height: 2px;
    background-color: $color-white-1;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
  &:hover::before,
  &:hover::after {
    background-color: $color-blue-1;
  }
  &:active::before,
  &:active::after {
    background-color: $color-blue-opacity-30;
  }

  &--closed {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 50px;
      height: 4px;
      background-color: $color-white-1;
      box-shadow: 0 10px 0 0 $color-white-1, 0 20px 0 0 $color-white-1;
      transform: none;
    }
    &:hover::before,
    &:focus::before {
      background-color: $color-red-1;
      box-shadow: 0 10px 0 0 $color-red-1, 0 20px 0 0 $color-red-1;
    }
    &:active::before {
      background-color: $color-red-opacity-30;
      box-shadow: 0 10px 0 0 $color-red-opacity-30, 0 20px 0 0 $color-red-opacity-30;
    }
    &::after {
      display: none;
    }
  }
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav__list {
  list-style: none;
  font-weight: bold;
  line-height: 32px;
  font-size: 18px;
  align-items: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }

  &--closed {
    display: none;
    background-color: $color-blue-1;
  }
}

.main-nav__item {
  min-height: 63px;
  padding: 25px 20px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  box-shadow: 0 1px 0 $color-black-1, inset 0 1px 0 $color-white-opacity-15;

  @media (min-width: $desktop-width) {
    width: min-content;
  }
}

.main-nav__link {
  color: $color-white-1;
  text-decoration: none;
  display: block;
  min-width: 150px;
}
