.map {
  position: relative;
  background-color: $color-gray-2;
  background-image: url("../img/map-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 320px;
  min-height: 200px;
}
