.post-form {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: $mobile-padding-horizontally;
  padding-right: $mobile-padding-horizontally;
  background-color: $color-gray-1;
  display: flex;
  flex-direction: column;
}

.post-form__filter {
  display: none;
  width: 86%;
  height: 2px;
  margin-left:auto;
  margin-right: auto;
  margin-top: 125px;
  margin-bottom: 34px;
  appearance: none;
  background-color: $color-blue-1;

  &::-webkit-slider-thumb {
    appearance: none;
    width: 14px;
    height: 14px;
    background-color: $color-white-1;
    border: 2px solid $color-red-1;
    border-radius: 14px;
  }

  &:focus {
    &::-webkit-slider-thumb {
      background-color: $color-red-1;
    }
  }

  &--active {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .post-form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 57px;
    padding-bottom: 54px;
  }

  .post-form__image-block {
    width: 48%;
  }

  .post-form__filter-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-start;
    width: 42%;
    margin-right: 14px;
  }

  .post-form__filter {
    margin: inherit;
    display: block;
    width: 77%;
    margin-right: 5px;
    margin-top: 18px;
    margin-bottom: 52px
  }
}

@media (min-width: $desktop-width) {
  .post-form {
    justify-content: space-around;
    margin-left: 130px;
    margin-right: 130px;
    padding-left: 38px;
    padding-right: 58px;
  }

  .post-form__image-block {
    width: 35%;
  }

  .post-form__filter-block {
    width: 43%;
  }

  .post-form__filter {
    width: 70%;
    float: right;
  }
}
