.post {
  color: $color-blue-1;
  padding-bottom: 20px;
}

.post__data {
  background-color: $color-gray-1;
}

.post__author {
  font-weight: bold;
}

.post__text {
  margin: 0;
}

.post__time {
  font-weight: 300;
  text-transform: uppercase;
}

.post__liking {
  font-size: 12px;
  text-transform: uppercase;
  color: $color-red-1;
}
