.promo {
  text-align: center;
  padding: 0 20px;
  border-bottom: 1px solid $color-white-1;
  color: $color-blue-1;
}

.promo__question,
.promo__answer {
  margin: 36px 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}
