.research {
  display: none;
  z-index: 1;
}

.research__promo,
.research__text,
.research__link {
  margin-left: 50%;
  margin-right: 20px;
}

.research__promo {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}

.research__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $color-red-1;
}

@media (min-width: $tablet-width) {
  .research {
    display: block;
    position: relative;
    padding: 65px 20px;
    background-color: $color-white-1;
    background-image: url("../img/timer.svg");
    background-repeat: no-repeat;
    background-position-x: calc(50% - 191px);
    background-position-y: 55%;
  }

  .research__promo {
    margin-bottom: 5px;
  }

  .research__text {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

@media (min-width: $desktop-width) {
  .research {
    padding-top: 116px;
    padding-bottom: 112px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $color-gray-1;
    background-position-x: calc(50% - 320px);
    background-position-y: 44%;
    background-size: 298px;
  }

  .research__promo,
  .research__text,
  .research__link {
    margin-left: 39%;
    line-height: 30px;
  }

  .research__text {
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 18px;
  }

  .research__link {
    font-size: 18px;
  }
}
