.tariffs-table {
  background-color: $color-white-1;
  border-collapse: collapse;
  width: 300%;
  transform: translateX(-41%);
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    width: 100%;
    transform: none;
  }
}

.tariffs-table__tariff {
  padding: 12px 20px 30px 20px;
  color: $color-white-1;
  border: 2px solid $color-gray-1;
  position: relative;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding-bottom: 10px;
  }

  &--empty {
    background-color: $color-gray-1;
  }

  &--hit {
    &::after {
      content: "ХИТ";
      font-weight: normal;
      background-color: $color-red-1;
      position: absolute;
      transform: rotate(-45deg);
      min-width: 100px;
      left: -30px;
      top: 15px;
      font-weight: normal;
      line-height: 20px;
    }
  }
}

.tariffs-table__tariff-name {
  display: block;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.tariffs-table__tariff-price {
  font-weight: normal;
  font-size: 18px;

  @media (min-width: $desktop-width) {
    font-weight: 300;
    font-size: 24px;
  }
}

.tariffs-table__tariff-names {
  text-align: center;
  background: $color-blue-1;
}

.tariffs-table__option-name {
  min-width: 123px;
  text-transform: uppercase;
  color: $color-blue-1;
  padding: 17px 20px;

  @media (min-width: $tablet-width) {
    text-transform: none;
    padding: 10px 15px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.tariffs-table__option,
.tariffs-table__option-availability {
  border: 2px solid $color-gray-2;
}

.tariffs-table__option-availability {
  background-image: url("../img/no.svg");
  background-repeat: no-repeat;
  background-position: center;
  min-width: 150px;

  &--available {
    background-image: url("../img/yes.svg");
  }
}
