.tariffs-table {
  width: 348%;
  margin-bottom: 41px;
  background-color: $color-white-1;
  border-collapse: collapse;
  transform: translateX(-48%);
}

.tariffs-table__tariff {
  position: relative;
  padding: 12px 20px 30px 20px;
  color: $color-white-1;
  border: 2px solid $color-gray-1;
  overflow: hidden;

  &--empty {
    background-color: $color-gray-1;
  }

  &--hit {
    &::after {
      content: "ХИТ";
      position: absolute;
      min-width: 200px;
      left: -72px;
      top: 17px;
      background-color: $color-red-1;
      font-weight: normal;
      line-height: 24px;
      transform: rotate(-45deg);
    }
  }
}

.tariffs-table__tariff-name {
  display: block;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.tariffs-table__tariff-price {
  font-weight: normal;
  font-size: 18px;
}

.tariffs-table__tariff-names {
  text-align: center;
  background: $color-blue-1;
}

.tariffs-table__option-name {
  min-width: 123px;
  padding: 17px 20px;
  color: $color-blue-1;
  text-transform: uppercase;
}

.tariffs-table__option,
.tariffs-table__option-availability {
  border: 2px solid $color-gray-2;
}

.tariffs-table__option-availability {
  min-width: 150px;
  background-image: url("../img/no.svg");
  background-repeat: no-repeat;
  background-position: 93% center;

  &--available {
    background-image: url("../img/yes.svg");
  }
}

@media (min-width: $tablet-width) {
  .tariffs-table {
    width: 100%;
    transform: none;
  }

  .tariffs-table__tariff {
    padding-bottom: 11px;

    &--hit {
      &::after {
        left: -82px;
        line-height: 20px;
      }
    }
  }

  .tariffs-table__tariff-price {
    font-weight: 300;
  }
  .tariffs-table__option-name {
    text-transform: none;
    padding: 10px 15px;
  }

  .tariffs-table__option-availability {
    background-position: center;
  }
}

@media (min-width: $desktop-width) {
  .tariffs {
    padding-bottom: 56px;
  }

  .tariffs-table__tariff {
    padding: 16px 36px 20px 41px;

    &--hit {
      &::after {
        left: -72px;
        line-height: 24px;
      }
    }
  }

  .tariffs-table__tariff-name {
    font-size: 18px;
    margin-bottom: 4px;
  }

  .tariffs-table__tariff-price {
    font-weight: 300;
    font-size: 24px;
  }

  .tariffs-table__option-name {
    padding-left: 21px;
    padding-right: 10px;
    padding-bottom: 16px;
    padding-top: 12px;
    font-size: 18px;
    line-height: 30px;
  }
}
