.tariffs {
  background-color: $color-gray-1;
  padding-top: 100px;
  padding-bottom: 46px;
}

@media (min-width: $tablet-width) {
  .tariffs {
    padding-left: $tablet-padding-horizontally;
    padding-right: $tablet-padding-horizontally;
    padding-top: 96px;
    padding-bottom: 30px;
  }

  .tariffs-table__option-availability {
    .tariffs-table__option-name:first-child {
      display: none;
    }
  }

  .tariffs__slider-toggles {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .tariffs {
    padding-left: $desktop-padding-horizontally;
    padding-right: $desktop-padding-horizontally;
    padding-top: 150px;
    padding-bottom: 5px;
  }
}
