.wrapper {
  max-width: $mobile-width;
  min-width: $mobile-width;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;

  &--first-type,
  &--second-type {
    width: 100%;
    padding-left: $mobile-padding-horizontally;
    padding-right: $mobile-padding-horizontally;
  }

  &--second-type {
    background-color: $color-gray-1;
  }
}

@media (min-width: $tablet-width) {
  .wrapper {
    max-width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .wrapper {
    max-width: $desktop-width-only;
  }
}
