.wrapper {
  max-width: $mobile-width;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

    &--second-type {
      min-height: 732px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
}

@media (min-width: $tablet-width) {
  .wrapper {
    max-width: $tablet-width;

    &--second-type {
      min-height: 729px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: transparent;
    }
  }
}

@media (min-width: $desktop-width) {
  .wrapper {
    max-width: $desktop-width;
    display: flex;
    justify-content: space-between;
    min-height: auto;

    &--third-type {
      display: block;
    }
  }
}
