$color-black-1: #000000;
$color-black-opacity-30:transparentize($color-black-1,0.3);//rgba(0,0,0,0.3);
$color-black-opacity-75: rgba(1, 1, 1, 0.75);
$color-white-1: #FFFFFF;
$color-white-opacity-30: transparentize($color-white-1,0.3);//rgba(255,255,255,0.3);
$color-red-1: #D22856;
$color-red-opacity-30: transparentize($color-red-1,0.3); //#D22856; opacity 0.3
$color-blue-1: #283645;
$color-blue-2:#1D2631;
$color-blue-opacity-60: transparentize($color-blue-1,0.6); //#283645 opacity 0.6
$color-blue-opacity-30: transparentize($color-blue-1,0.3); //#283645 opacity 0.3
$color-blue-opacity-10: transparentize($color-blue-1,0.1); //#283645 opacity 0.1
$color-green-1: #1C9B5E;
$color-green-2: #2AAB6D;
$color-green-3: #3DC644;
$color-orange-3: #F25B26;
