// Colors
$color-black-1: #000000;
$color-black-opacity-30: transparentize($color-black-1, 0.7);//rgba(0,0,0,0.3);
$color-black-opacity-75: rgba(1, 1, 1, 0.75);
$color-white-1: #ffffff;
$color-white-opacity-30: transparentize($color-white-1, 0.7);//rgba(255,255,255,0.3);
$color-white-opacity-15: transparentize($color-white-1, 0.85);//rgba(255,255,255,0.15);
$color-red-1: #d22856;
$color-red-opacity-30: transparentize($color-red-1, 0.7); //#D22856; opacity 0.3
$color-blue-1: #283645;
$color-blue-2: #1d2631;
$color-blue-opacity-60: transparentize($color-blue-1, 0.4); //#283645 opacity 0.6
$color-blue-opacity-50: transparentize($color-blue-1, 0.5); //#283645 opacity 0.5
$color-blue-opacity-30: transparentize($color-blue-1, 0.7); //#283645 opacity 0.3
$color-blue-opacity-10: transparentize($color-blue-1, 0.9); //#283645 opacity 0.1
$color-green-1: #1c9b5e;
$color-green-2: #2aab6d;
$color-green-3: #3dc644;
$color-orange-3: #f25b26;
$color-gray-1: #f2f2f2;
$color-gray-2: #e5e5e5;
$color-gray-opacity-15: rgba(0, 1, 1, 0.15);
$color-full-opacity: rgba(0, 0, 0, 0);
// Viewports
$mobile-width: 320px;
$mobile-width-only: 659px;
$tablet-width: 660px;
$desktop-width: 960px;
$desktop-width-only: 940px;
//padding
$mobile-padding-horizontally: 20px;
$tablet-padding-horizontally: 20px;
$desktop-padding-horizontally: 130px;
//retina
$retina-resolution: 2dppx;
//font
$main-font-family: "Open Sans", "Arial", sans-serif;
